/* VARIABLES */

:root {
  /* COLORS */

  /* PRIMARY */

  --clr-violet-400: 263 55% 52%;
  --clr-blue-600: 217 19% 35%;
  --clr-blue-800: 219 29% 14%;
  --clr-white: 0 0% 100%;

  /* NEUTRAL */

  --clr-gray-200: 0 0% 81%;
  --clr-blue-50: 210 46% 95%;

  /* FONT */

  --ff-sans: 'Barlow Semi Condensed', sans-serif;

  --fw-medium: 500;
  --fw-semibold: 600;
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

/* UTILS */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border-width: 0;
}

.bg-violet-400 {
  --clr-bg: hsl(var(--clr-violet-400));
  --clr-primary: var(--clr-white);
}

.bg-blue-600 {
  --clr-bg: hsl(var(--clr-blue-600));
  --clr-primary: var(--clr-white);
}

.bg-blue-800 {
  --clr-bg: hsl(var(--clr-blue-800));
  --clr-primary: var(--clr-white);
}

.bg-white {
  --clr-bg: hsl(var(--clr-white));
  --clr-primary: var(--clr-blue-600);
}

/* BASE */

body {
  font-family: var(--ff-sans);
  font-weight: var(--fw-medium);
  background-color: hsl(var(--clr-blue-50));
  padding: 1.5em;
  display: grid;
  place-content: center;
}

/* MAIN */

.testimonials__card {
  background-color: var(--clr-bg);
  color: hsl(var(--clr-primary));
}

.testimonials__user-status {
  color: hsla(var(--clr-primary) / 0.5);
}

.testimonials__desc {
  color: hsla(var(--clr-primary) / 0.7);
}
