/* VARIABLES */

:root {
  /* COLORS */

  /* PRIMARY */

  --clr-violet-400: 263 55% 52%;
  --clr-blue-600: 217 19% 35%;
  --clr-blue-800: 219 29% 14%;
  --clr-white: 0 0% 100%;

  /* NEUTRAL */

  --clr-gray-200: 0 0% 81%;
  --clr-blue-50: 210 46% 95%;
}
